<!-- categories -->
{{ if isset site.Taxonomies "categories" }}
  {{ if not (eq (len site.Taxonomies.categories) 0) }}
    <div class="mb-8">
      <h5 class="mb-6">{{ T "categories" | default "Categories" }}</h5>
      <div class="bg-light dark:bg-darkmode-light rounded p-8">
        <ul class="space-y-4">
          {{ range $name, $items := site.Taxonomies.categories }}
            {{ $key := printf "category_%s" $name }}
            <li>
              <a
                class="hover:text-primary dark:hover:text-darkmode-primary flex justify-between"
                href="{{ .Page.RelPermalink }}">
                {{ T $key | default .Page.Title }}
                <span>( {{ len $items }} )</span>
              </a>
            </li>
          {{ end }}
        </ul>
      </div>
    </div>
  {{ end }}
{{ end }}
