<!-- tags -->
{{ if isset site.Taxonomies "tags" }}
  {{ if not (eq (len site.Taxonomies.tags) 0) }}
    <div class="mb-8">
      <h5 class="mb-6">{{ T "tags" | default "Tags" }}</h5>

      <div class="bg-light dark:bg-darkmode-light rounded p-8">
        <ul class="flex flex-wrap gap-3">
          {{ range $name, $items := site.Taxonomies.tags }}
            {{ $key := printf "tag_%s" $name }}
            <li>
              <a
                href="{{ .Page.RelPermalink }}"
                class="bg-body dark:bg-darkmode-body px-4 py-2 rounded text-sm hover:text-primary dark:hover:text-darkmode-primary"
              >
                {{ T $key | default .Page.Title }}
              </a>
            </li>
          {{ end }}
        </ul>
      </div>
    </div>
  {{ end }}
{{ end }}
