<footer class="bg-light dark:bg-darkmode-light">
  <div class="container">
    <div class="flex flex-row items-center justify-between py-3">

      <!-- Logo -->
      <div class="flex items-center lg:w-1/3">
        <a class="navbar-brand inline-block" href="{{ site.Home.RelPermalink }}">
          {{ partial "logo" }}
        </a>
      </div>

      <!-- Footer Menu -->
      <div class="flex items-center justify-center gap-6 lg:w-1/3">
        <ul class="flex gap-6">
          {{ range site.Menus.footer }}
            <li>
              <a
                {{ if findRE `^http` .URL }}
                  target="_blank" rel="noopener"
                {{ end }}
                href="{{ .URL | relLangURL }}">
                {{ .Name }}
              </a>
            </li>
          {{ end }}
        </ul>
      </div>

      <!-- Social -->
      <div class="flex items-center justify-end lg:w-1/3">
        <ul class="social-icons flex gap-4">
          {{ range site.Data.social.main }}
            <li>
              <a
                target="_blank"
                aria-label="{{ .name }}"
                rel="nofollow noopener"
                href="{{ .link | safeURL }}">
                <i class="{{ .icon }}"></i>
              </a>
            </li>
          {{ end }}
        </ul>
      </div>

    </div>
  </div>

  <div class="border-t border-border dark:border-darkmode-border py-2">
    <div class="container text-center text-text-light dark:text-darkmode-text-light text-sm">
      {{ site.Params.copyright | markdownify }}
    </div>
  </div>
</footer>
