<header class="header sticky top-0 z-30">
  <nav class="navbar container flex flex-col lg:flex-row lg:items-center">

    <!-- 上段：ロゴ -->
    <div class="flex justify-center lg:justify-start flex-none order-0">
      <a class="navbar-brand block" href="{{ site.Home.RelPermalink }}">
        {{ partial "logo" }}
      </a>
    </div>

    <!-- 操作系 -->
    <div class="flex items-center justify-center w-full gap-4 mt-3
                lg:mt-0 lg:ml-auto lg:w-auto order-1 lg:order-2">

      {{ with site.Params.search }}
        {{ if .enable }}
          <button aria-label="search" data-target="search-modal">
            <i class="fa-solid fa-search"></i>
          </button>
        {{ end }}
      {{ end }}

      {{ partial "components/language-switcher"
        (dict "Context" . "Class" "py-1 dark:bg-darkmode-light rounded") }}

      {{ partial "components/theme-switcher" }}

      <label for="nav-toggle" class="cursor-pointer flex items-center lg:hidden">
        ☰
      </label>
    </div>

    <input id="nav-toggle" type="checkbox" class="hidden" />

    <ul
      id="nav-menu"
      class="navbar-nav hidden lg:flex flex-1 justify-center
             lg:space-x-2 xl:space-x-8 order-2 lg:order-1">
      {{ range site.Menus.main }}
        <li class="nav-item">
          <a class="nav-link" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
        </li>
      {{ end }}
    </ul>

  </nav>
</header>
